:root {
  --primary: #ccff00;
  /* --primary: #78ff73; */
  --hover-primary: #a0c801;
  --secondary: #333333;
  --secondary-light: #555555;
  --secondary-x-light: #777777;
  --secondary-xx-light: #aaaaaa;
  --thirdary: #7d80da;
  --light: #f2f2f2;
  --dark-x-light: #2f2f2f;
  --dark-light: #222222;
  --dark: #111111;
  --text-color: #f2f2f2;
  --shadow: #767676;
  --alert: #ff0000;
  --alert-hover: #cc0000;
  --text-color: #ccff00;
}

@font-face {
  font-family: "MesloLGS NF";
  src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MesloLGS NF";
  src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MesloLGS NF";
  src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "MesloLGS NF";
  src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Bold%20Italic.ttf");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MesloLGS NF", sans-serif;
}

.me-2 {
  margin-right: 0.5rem;
}

.text-secondary {
  color: var(--secondary);
}

.text-secondary-light {
  color: var(--secondary-light) !important;
}

.text-secondary-x-light {
  color: var(--secondary-x-light) !important;
}

.text-secondary-xx-light {
  color: var(--secondary-xx-light) !important;
}

.text-dark-x-light {
  color: var(--dark-x-light) !important;
}

.text-dark-light {
  color: var(--dark-light) !important;
}

.text-alert {
  color: var(--alert) !important;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-hover {
  background-color: var(--primary-hover);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-light {
  background-color: var(--secondary-light);
}

.bg-dark-x-light {
  background-color: var(--dark-x-light);
}

.bg-dark-light {
  background-color: var(--dark-light);
}

.bg-dark {
  background-color: var(--dark);
}

.mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.pt-6 {
  padding-top: 3.5rem !important;
}

.pb-6 {
  padding-bottom: 3.5rem !important;
}

.pt-7 {
  padding-top: 4rem !important;
}

.fs-large {
  font-size: 5rem;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: smaller;
}

.fs-9 {
  font-size: small;
}

.fs-10 {
  font-size: x-small;
}

.link-primary {
  color: var(--primary);
}

.link-primary:hover {
  color: var(--primary);
}

.btn-light {
  color: var(--light);
  margin: 0;
  font-weight: 400;
  background: transparent;
  border: 0;
  /* text-decoration: underline; */
  /* text-decoration-color: var(--light); */
}

.btn-light:hover {
  color: var(--light);
  background: transparent;
}

.btn-light:active {
  color: var(--light) !important;
  background: transparent !important;
  text-decoration-color: var(--light) !important;
  border: 0 !important;
  box-shadow: none !important;
}

.btn-light:focus {
  color: var(--light) !important;
  background: transparent !important;
  text-decoration-color: var(--light) !important;
  border: 0 !important;
  box-shadow: none !important;
}

.btn-light:disabled,
.btn-light.disabled {
  color: var(--secondary-xx-light);
  background: transparent;
  border: 0;
  text-decoration: none;
}

.btn-secondary-x-light {
  color: var(--secondary-x-light) !important;
  background: transparent !important;
}

.btn-secondary-x-light:hover {
  color: var(--secondary-x-light) !important;
}

.btn-secondary-xx-light {
  color: var(--secondary-xx-light) !important;
  background: transparent !important;
}

.btn-secondary-xx-light:hover {
  color: var(--secondary-xx-light) !important;
}

.btn-action,
.action-unchecked {
  color: var(--light);
  background-color: var(--secondary);
  /* border: 1px solid var(--secondary); */
  border-radius: 0.4rem;
  padding: 0.25rem 0.5rem;
  text-align: inherit;
  opacity: 1;
  box-shadow: none !important;
  text-decoration: none;
}

.btn-action:hover {
  color: var(--light);
  background-color: var(--dark-x-light);
  /* border: 1px solid var(--secondary); */
  border-radius: 0.4rem;
  padding: 0.25rem 0.5rem;
  text-align: inherit;
  text-decoration: none;
}

.action-checked {
  color: var(--dark) !important;
  background-color: var(--primary);
  border: 0;
  border-radius: 0.4rem;
  padding: 0.25rem 0.5rem;
  text-align: inherit;
  text-decoration: none;
}

.action-checked:hover {
  color: var(--dark) !important;
  background-color: var(--hover-primary);
  opacity: 1;
  border: 0;
  border-radius: 0.4rem;
  padding: 0.25rem 0.5rem;
  text-align: inherit;
  text-decoration: none;
}

.btn-submit {
  color: var(--dark);
  background-color: var(--primary);
  border: 0;
  border-radius: 0.4rem;
  max-width: 20rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.btn-submit:hover {
  color: var(--dark);
  background-color: var(--primary);
  border: 0;
  border-radius: 0.4rem;
  max-width: 20rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.btn-submit:disabled,
.btn-submit.disabled {
  color: var(--secondary-light);
  background-color: var(--secondary);
  border: 0;
  border-radius: 0.4rem;
  max-width: 20rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.btn-primary {
  color: var(--dark);
  background-color: var(--primary);
  border: 0;
  padding: 0.25rem 0.5rem;
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: var(--secondary-xx-light);
  background-color: var(--secondary);
  border: 0;
}

.text-primary {
  user-select: text !important;
  -webkit-user-select: text !important;
  font-family: "MesloLGS NF", sans-serif !important;
}

.table-dark-light {
  background-color: var(--dark-light);
}
