:root {
  --primary: #ccff00;
  --primary-hover: #a3cc00;
  --secondary: #333333;
  --secondary-light: #555555;
  --secondary-x-light: #777777;
  --secondary-xx-light: #aaaaaa;
  --thirdary: #7d80da;
  --light: #f2f2f2;
  --dark-light: #222222;
  --dark: #111111;
  --text-color: #f2f2f2;
  --shadow: #767676;
  --alert: #ff0000;
  --alert-hover: #cc0000;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-hover {
  background-color: var(--primary-hover);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-light {
  background-color: var(--secondary-light);
}

.bg-dark-light {
  background-color: var(--dark-light);
}

.bg-dark {
  background-color: var(--dark);
}

.fs-7 {
  font-size: smaller;
}

.fs-8 {
  font-size: small;
}

.fs-9 {
  font-size: x-small;
}

.fs-10 {
  font-size: xx-small;
}

.btn-0 {
  color: var(--light);
  margin: 0;
  font-weight: 400;
  transition: 0.5s;
}

.btn-0:hover {
  color: var(--primary);
}
