text-muted, pre, h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-x-light);
}

.card-title {
    color: var(--light);
}

link {
    color: var(--primary);
}

link:hover {
    color: var(--primary-hover);
}

.card {
    border: 0;
    border-bottom: 1px solid var(--secondary-x-light);
    border-right: 1px solid var(--secondary-x-light);
    transition: 0.5s;
}

.card:hover {
    border: 0;
    border-bottom: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
}

.filetype {
    color: var(--secondary-x-light);
    transition: 0.5s;
}

.card:hover .filetype {
    color: var(--primary);
}
