/* BUTTONS */

.action-checked:focus, .action-unchecked:focus {
    outline: none !important;
    box-shadow: none !important;
}

.action-unchecked, .action-checked:hover {
    color: var(--light);
    background-color: var(--dark);
    font-size: smaller;
    outline: none !important;
    box-shadow: none;
}

.action-checked, .action-unchecked:hover {
    color: var(--dark);
    background-color: var(--primary);
    border-right: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    font-size: smaller;
    outline: none !important;
    box-shadow: none;
}

.avatars-block {
    display: inline-flex;
}

.avatar {
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    border: 2px solid var(--dark);
}

.avatar-bigger {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 2px solid var(--dark);
}

.reduce-margin-right {
    margin-right: -0.5em;
}

.about-field {
    color: var(--secondary-xx-light);
    font-weight: 100;
    /* text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 0.01em; */
}

#posts-nav button.active {
    border-bottom: 1px solid var(--secondary-x-light);
}