groups:
  - name: CriticalAlers
    rules:
      - alert: UPTIME_DOWN
        expr: up == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "Server is down {{ $labels.instance }}"
          summary: "小 小孝校  1 校孝蝎. 孝鞋 node_exporter  小 小"
      - alert: DISK_space_usage_is_High
        expr: 100 - avg(node_filesystem_avail_bytes{fstype="btrfs"}) / ((sum(node_filesystem_size_bytes{fstype="btrfs"}) + sum(node_filesystem_size_bytes{fstype="tmpfs"})) / 100) > 95
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "High Disk Usage {{ $labels.instance }}"
          summary: "小   95 笑孝. 孝鞋 小"
      - alert: DISK_space_BIGDATA_usage_is_High
        expr: 100 * (1 - (node_filesystem_avail_bytes / node_filesystem_size_bytes{mountpoint="/bigdata"})) > 95
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "High Disk Usage {{ $labels.instance }}"
          summary: "小 BIGDATA   90 笑孝. 孝鞋 小"
      - alert: CPU_usage_is_High
        expr: 100 - (avg(rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 90
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "High CPU Usage {{ $labels.instance }}"
          summary: "CPU 小鞋校孝  90 笑孝. 孝鞋 小"
      - alert: RAM_usage_is_High
        expr: 100 * (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) > 90
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "High RAM Usage {{ $labels.instance }}"
          summary: "RAM 小鞋校孝  90 笑孝. 孝鞋 小"
