<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Подтверждение аккаунта</title>
  </head>
  <body>
    <div>
      <h1>Код верификации аккаунта</h1>
      <p>Ваш код подтверждения: <strong>{{otp_key}}</strong></p>
      <p>Срок действия кода: <strong>15 минут</strong></p>
      <p>
        Если вы не запрашивали код подтверждения, проигнорируйте это сообщение.
      </p>
      <p>
        С уважением, команда
        <a href="https://tellyourfriends">Tell Your Friends</a>
      </p>
    </div>
  </body>
</html>
